---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: toposervice-deployment
spec:
  selector:
    matchLabels:
      app: toposervice
  replicas: 1 
  template:
    metadata:
      labels:
        app: toposervice
    spec:
      containers:
      - name: toposervice
        image: franrobles8/toposervice:v1.0
        ports:
        - containerPort: 8080
        env:
          - name: SPRING_DATA_MONGODB_HOST
            value: mongodb
          - name: SPRING_DATA_MONGODB_PORT
            value: "27017"
          - name: SPRING_DATA_MONGODB_DATABASE
            value: topoDB
          - name: SPRING_DATA_MONGODB_AUTHENTICATION-DATABASE
            value: admin
          - name: SPRING_DATA_MONGODB_USERNAME
            value: root
          - name: SPRING_DATA_MONGODB_PASSWORD
            value: password
